@import 'tailwindcss';

@config '../tailwind.config.js';

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}
@theme {
  --color-background: light-dark(oklch(100% 0 106.37), oklch(13.71% 0.036 258.53));
  --color-foreground: light-dark(oklch(23.76% 0 0), oklch(91.57% 0 0));
  --color-card: light-dark(oklch(100% 0 106.37), oklch(13.71% 0.036 258.53));
  --color-card-foreground: light-dark(oklch(13.71% 0.036 258.53), oklch(98.38% 0.0035 247.86));
  --color-popover: light-dark(oklch(100% 0 106.37), oklch(13.71% 0.036 258.53));
  --color-popover-foreground: light-dark(oklch(13.71% 0.036 258.53), oklch(98.38% 0.0035 247.86));
  --color-primary: light-dark(oklch(20.79% 0.0399 265.73), oklch(98.38% 0.0035 247.86));
  --color-primary-foreground: light-dark(oklch(98.38% 0.0035 247.86), oklch(20.79% 0.0399 265.73));
  --color-secondary: light-dark(oklch(96.84% 0.0068 247.9), oklch(28% 0.0369 259.97));
  --color-secondary-foreground: light-dark(oklch(20.79% 0.0399 265.73), oklch(98.38% 0.0035 247.86));
  --color-muted: light-dark(oklch(96.76% 0.0013 286.38), oklch(28% 0.0369 259.97));
  --color-muted-foreground: light-dark(oklch(55.19% 0.0137 285.94), oklch(71.07% 0.0351 256.79));
  --color-accent:light-dark(oklch(96.84% 0.0068 247.9), oklch(28% 0.0369 259.97));
  --color-accent-foreground: light-dark(oklch(20.79% 0.0399 265.73), oklch(98.38% 0.0035 247.86));
  --color-destructive: light-dark(oklch(63.68% 0.2078 25.33), oklch(39.59% 0.1331 25.72));
  --color-destructive-foreground: light-dark(oklch(98.38% 0.0035 247.86), oklch(98.38% 0.0034 247.86));
  --color-border: light-dark(oklch(93.06% 0.0125 38.2), oklch(28% 0.0369 259.97));
  --color-input: light-dark(oklch(92.9% 0.0126 255.53), oklch(28% 0.0369 259.97));
  --color-ring: light-dark(oklch(13.71% 0.036 258.53), oklch(86.88% 0.0198 252.85));
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

::-webkit-scrollbar {
  @apply w-2;
}

::-webkit-scrollbar-track {
  @apply bg-transparent;
}

.dark ::-webkit-scrollbar-thumb {
  @apply bg-slate-600 rounded-full hover:bg-slate-500;
}

.light ::-webkit-scrollbar-thumb {
  @apply bg-gray-300 rounded-full hover:bg-gray-200;
}
